@font-face {
	src: url("/static/fonts/Lato-Regular.7f690e503a25.ttf");
	font-family: lato;
}

.card {
	width: 18rem;
	border-color: #ACEC93;
	border-width: 3px;
	padding: 10px;
}

.judul {
	font-family:lato;
}