{%extends 'base.html'%}

{% load static %}

{% block style %}

	<link rel="stylesheet" type="text/css" href={% static "news/news.css" %}>

{% endblock %}

{% block content %}

    <div class="container my-5">
    	<div class="row">
    		<div class="col-md-12">
    			{% if report %}
    				<img style="" src="/{{report.image}}" alt="My image">
    				<h1>{{ report.title }}</h1>
    				<p>{{report.desc}}</p>
    			{% endif %}
    		</div>
    	</div>
    </div>

{% endblock %}

