{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% else %}
	<a class="lead" href="{% url 'account:login' %}">Log in</a>
{% endif %}

<h1 class="judul my-5"><center>Berita</center></h1>
<div class="container my-5">
	<div class="row">
	{% if reports %}
		{% for report in reports %}
		<div class= "col-sm-12 col-md-6 col-lg-4">
			<center>
				<br>
				<div class="card" style="height: 450px;">
				  <img class="card-img-top" src="/{{ report.image }}">
				  <div class="card-body">
				  	<h5 ><a href="{% url 'report-retrieve' id=report.id %}" style="color:orange;"> <h5 class="card-title"> {{report.title}} </a></h5>
				    <p class="card-text"> {{ report.desc|truncatechars_html:100 }} </p>
				  </div>
				</div>
			</center>
		</div>
		{% endfor %}
		{% else %}
		{% endif %}
	</div>

</div>

{% endblock %}
