{% extends 'base.html'%}

{% block content %}
 {% comment %} <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script> {% endcomment %}
<div class="container my-5">
    <center> 
        <h1>Register</h1> 
        <small>Daftarkan diri anda agar bisa berdonasi</small>
    </center>

    <div class="col-md-12">
        <form method="POST" action="">
        {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn btn-primary">Submit</button>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock content %}