<footer class="page-footer font-small blue pt-4 ftr">
    <div class="container-fluid  text-md-left">
        <div class="row">
            <div class="col-md-8 col-sm-6 justify-content-sm-center">
                <h5 class="text-uppercase YSP">  Yayasan Sinar Perak</h5>
                <p class="alamat"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" style="max-width: 30px;">  Jl. Margonda Raya no. 25</p>
                <p class="tlp"><img src="https://image.flaticon.com/icons/svg/17/17216.svg" style="max-width: 30px;">  (021) 3210654</p>
                <p class="tlp"><img src="https://image.flaticon.com/icons/svg/134/134735.svg" style="max-width: 30px;">  +628-123-456-00</p>
                <p class="email"><img src="https://image.flaticon.com/icons/svg/25/25236.svg" style="max-width: 30px;">  sinarperak@yayasan.com</p>
            </div>

            <div class="col-md-4 col-sm-6 mx-auto">
                <div class="row">
                    <div class="col-xs-3 mx-auto">
                        <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69407.svg">
                    </div>
                    <div class="col-xs-3 mx-auto">
                        <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69406.svg">
                    </div>
                    <div class="col-xs-3 mx-auto">
                        <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69480.svg">
                    </div>
                    <div class="col-xs-3 mx-auto">
                        <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69366.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>