
<nav class="navbar navbar-expand-lg navbar-light">
  <img src = "https://image.flaticon.com/icons/svg/179/179251.svg" style="min-width: 40px; margin-right: 7%;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav mr-auto">
        <form class="form-inline" action="{% url 'index' %}" method="GET">
          <div class="form-group">
            <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Cari...." aria-label="Search">
            <button class="form-control btn btn-outline-success my-2 my-sm-0 cari" type="submit">Cari</button>
          </div>
        </form>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">

        <button class="btn btn-default beranda"><a class="nav-link" href="{% url 'home-index' %}">Berita</a></button>
        <button class="btn btn-default beranda"><a class="nav-link" href="{% url 'news-index' %}">Program</a> </button>
        <button class="btn btn-default beranda"><a class="nav-link" href="{% url 'donate-index' %}">Donasi</a> </button>
        <button class="btn btn-default beranda"><a class="nav-link" href="{% url 'testimoni' %}">Tentang Kami</a> </button>
        {% if user.is_authenticated %}
        <button onclick="myDonation()" class="btn btn-default beranda"><a class="nav-link">Profil</a> </button>
          <span class="mr-2">Welcome, {{ user.username }} </span>
          <button class="btn btn-default daftar"><a class="nav-link" href="{% url 'account:logout' %}"> Logout </a> </button>
        {% else %}
          <button class="btn btn-default masuk"><a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}"> Masuk </a> </button>
        {% endif %}
    </div>
    <script type="text/javascript">
      function myDonation() {
        console.log("hello")
        $.ajax({
          url:"/donatur/",
          method:"GET",
          success: function(data) {
            $("body").html(data);
          }
        })
      }
    </script>
</nav>
