{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container" id="donatur" style="min-height: 60vh">
	<br>
	<h1>List Program yang Pernah di Donasi</h1>
	<br>
	{% if listDonations %}
		{% for donasi in listDonations %}

		<div class="card" style="width: 50%; height: auto;">
		  <div class="card-header">
			{{ donasi.program }}
		  </div>
		  <div class="card-body">
			<blockquote class="blockquote mb-0">
			  <p>{{ donasi.total_donation }}</p>

			</blockquote>
		  </div>
		</div>
		{% endfor %}
		<h5>Total Donasi : Rp.{{ total_donation }}</h5>
	{% else %}
		<br>
		<center><h3>Anda belum pernah melakukan donasi</h3></center>
	{% endif %}
</div>
{% endblock %}
