.split {
    height: 70%;
    width: 50%;
    position: fixed;
    z-index: 0;
    /* top: 250px; */
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
	color: red;
}

.right {
    right: 0;
    background-color: #C70500;
	color: #000;
}

.newstitle {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 350px;
    border-radius: 50%;
}
