{% extends 'base.html' %}

{% block content %}

<div style="margin: 2vw 2vw; min-height: 60vh">
	{% if user.is_authenticated %}
	<div class="container">
	  <h3>Pendapat, Kritik, dan Saran mengenai Website kami </h3>
	  <form method ="POST">
	    <div class="form-group">
	      <label for="comment">Comment:</label>
	      {% csrf_token %}
	      <textarea class="form-control" rows="5" id="comment"></textarea>
	    </div>
	  </form>
	  <button class="btn btn-primary" id="submit" type="submit">Submit</button>
	</div>
	<br>
	{% endif %}


	<div style="margin: 2vw 7vw" id="card">
		<!--<div class="card">
	  		<div class="card-body">
	  			<div class="container">
	  				<div class="row">
	  					<div class="col-1" align="left"><strong><p>name</p></strong></div>
	  					<div class="col-11"><strong><p>time</p></strong></div>
	  				</div>
	  				<p>Lore ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	  			</div>
	  		</div>
	  	</div>-->
	</div>
</div>
</div>


<script>
	// $("#submit").click(function(){
	// 	$.ajax({
	// 		url : '/jsonAbout/',
	// 		method : 'POST',
	// 		data :{
	// 			comment : $('#comment').val(),
	// 			csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
	// 		},
	// 		success : (response) => {
	// 			alert('haha');
	// 		}
	// 	});
	// });

	$("#submit").click(function() {
		data = {
			comment : $('#comment').val(),
			csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
		}
		submitComment(data)
	});


	function submitComment(data) {
		$.ajax({
			url : 'jsonAbout/',
			method : 'POST',
			data : data,
			success : function(response) {
				$('#comment').val('');
				showComment();
			}
		});
	}

	function showComment() {
		$.ajax({
			url : 'allComment/',
			success : function(response) {
				var parsedHtml = `<h4>Testimoni dari Pengguna</h4><br>`
				for(i = 0; i < response.length; i++){
					var tmp = `
					<div class='card'>
						<div class='card-body' style='background-color:#ECF0ED';>
							<div>
								<strong> <p style='line-height:1'> ${response[i].username}</p> </strong>
								<p style='font-size: 10px'; style='line-height:0;'> ${response[i].time} </p>
								<hr>
							</div>
							<p> ${response[i].comment} </p>
						</div>
					</div>
					<br>`
					parsedHtml+=tmp;
					// $("#card").append(tmp);
				}

				$("#card").html(parsedHtml);
			}
		});
	}

	$(document).ready(function(){
		showComment();
	});

</script>

{% endblock %}
