{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				Silahkan untuk login dulu sebelum berdonasi
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"><a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}">Login</a></button>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
	<div class="col">
		<div class="row">
			<div class="col-md-12">
				<div class="row justify-content-md-center">
					<div class="col-md-8 justify-content-md-center">
						<center>
							<div class="border border-secondary " aria-label="breadcrumb" style="width:104%">
								<div class="border border-secondary" style="background-color: #2DB49F">
									<br>
									<p style="font-size: 30px"><strong>Form Donasi</strong></p>
											{% if message %}
												<small style="color:red" class="my-5">Email belum terdaftar, silahkan mendaftar</small>
											{% endif %}
								</div>
								<div id="donation-page" class="bg-grey" style="height:100%;">
									<div style="width: 60%">
										<br>
											{% csrf_token %}
											{% for field in form %}
												<div class="form-group">
													{{ field.label }}
													{{ field }}
												</div>
											{% endfor %}
											<button onclick="donateSubmit()" id="donate-btn" class="btn btn-success">Donasikan</button>
											<br>
											<small class="my-5">Anda belum bisa berdonasi jika email anda belum teregistrasi</small>
									</div>
								</div>
								{% if form.errors %}
									{% for field in form %}
										{% for error in field.errors %}
											<div class="alert alert-danger">
												<strong>{{ error|escape }}</strong>
											</div>
										{% endfor %}
									{% endfor %}
									{% for error in form.non_field_errors %}
										<div class="alert alert-danger">
											<strong>{{ error|escape }}</strong>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
	<script>
    console.log($("#id_is_anon"))

		function donateSubmit() {
			data = {
				total_donation: $("#id_total_donation").val(),
				program: $("#id_program").val(),
				is_anon: $("#id_is_anon")[0].checked,
				donatur_fullname: $("#id_donatur_fullname").val(),
				donatur_name: $("#id_donatur_name").val(),
    		csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
			}
			submitDonation(data);
		}

		function submitDonation(data) {
			$.ajax({
				url: "donate/",
				type: "POST",
				data: data
			})
			.done((response) => {
				if(response['status_code'] == 403) {
					$('#exampleModalCenter').modal('show');
				} else if (response['status_code'] == 200) {
					alert("Berhasill")
					window.location.replace("terimakasih/");
				} else {
					alert("error occured")
				}
			})
			.fail()
		}

	</script>
{% endblock %}
