{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="col">
    	<div class="row">
    		<div class="col-12">
    			<br><br><br><br>
      		</div>
      	</div>
      	<div class="row">
    		<div class="col-12">
    				<div class="row justify-content-md-center">
    					<div class="col-md-8 " style="width: 70%">
              <div class="terimakasih">	
    						<div class= "border border-secondary" style="background-color: #2DB49F">
								<br><br><br><br><br><br>
								<div style="margin: 5% 5%">
								  <h1 class="display-4">Terima Kasih Sudah Melakukan Donasi</h1>
								<p class="lead">Konfirmasi donasi akan dikirimkan ke email anda</p>
                <a href="/" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Kembali ke Beranda</a>
							</div>
							</div>
            </div>
								<br><br><br>
						</div>
					</div>
      		</div>
      	</div>
      	<div class="row">
    		<div class="col-12">
    			<br><br><br><br>
      		</div>
      	</div>
    </div>
</div>

  
{% endblock %}