{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}

<h1 class="judul my-5"><center>Mari Berdonasi!</center></h1>
<div class="container my-5">
	<div class="row">
	{% if news %}
		{% for new in news %}
		<div class= "col-sm-12 col-md-6 col-lg-4">
			<center>
				<br>
				<div class="card" style="height: 450px;">
				  <img class="card-img-top" src="/{{ new.image }}">
				  <div class="card-body">
				  	<h5 ><a href="{% url 'news-retrieve' id=new.id %}" style="color:orange;"> <h5 class="card-title"> {{new.title}} </a></h5>
				    <p class="card-text"> {{ new.desc|truncatechars_html:100  }} </p>
				  </div>
				</div>
			</center>
		</div>
		{% endfor %}
		{% else %}
			{% if search %}
				<h4>Program tidak ditemukan</h4>
			{% else %}
				<h4>Belum ada Program</h4>
			{% endif %}
	{% endif %}
	
	</div>
</div>

{% endblock %}
