{%extends 'base.html'%}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href={% static "news/news.css" %}>
{% endblock %}
{% block content %}
	<div class="row col-lg-12 col-lg-offset-6">
		<div class="container text-center">
			<h1>{{news.title}}</h1>
		</div>
	</div>
<div class="container my-5">
	<div class="row">
		<div class="col-md-4">
			{% if donations %}
				<h4>Donatur</h4>
				{% if total_donation %}
					<h5>Total: {{ total_donation }}</h5>
				{% endif %}
				{% for donation in donations %}
					<div class="donatur" style="border:1px solid lime; padding:10px;">
					 	 Rp.{{ donation.total_donation }}
						  <br>
						 {% if donation.is_anon %}
						 Lebih baik tidak disebut
						{% else %}
						  Oleh
							{{ donation.donatur_fullname|title }}
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<h5>Belum ada donasi pada program ini</h5>
			{% endif %}
		</div>
		<div class="col-md-8">
			{% if news %}
				<img style="" src="/{{news.image}}" alt="My image">
				<h1>{{ news.title }}</h1>
				<p>{{news.desc}}</p>
				<a class="btn btn-primary" href="{% url 'donate-index' %}">Donate</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
