@font-face {
	src: url("/static/fonts/CaviarDreams_Bold.65ab651cc7ce.ttf");
	font-family: cavd;
}

.ftr {
	background-color: #2EC2AB;
	position: bottom;
}

.YSP {
	font-family: cavd;
	font-size: 25px;
}
.alamat {
	font-family: cavd;
	line-height: 5%;
	font-size: 13px;
}

.tlp {
	font-family: cavd;
	line-height: 5%;
	font-size: 13px;
}

.email {
	font-family: cavd;
	line-height: 5%;
	font-size: 13px;
}