.navbar {
	background-color: #2EC2AB;
}

.masuk {
	box-sizing: border-box;
  	resize: vertical;
    background-color: dimgrey;
    border: none;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.masuk:hover {
	background-color: black;
}

.daftar {
	box-sizing: border-box;
  	resize: vertical;
    background-color: dimgrey;
    border: none;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 12px;
}
.daftar:hover {
	background-color: black;
}

.beranda {
	border: none;
    background-color: transparent;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

a {
	color: white;
}

a:hover {
	color: white;
}

.cari {
	color: white;
}