.beranda {
	box-sizing: border-box;
  	resize: vertical;
    background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}